<!DOCTYPE html>
<html>

<head>
    <title>PG Backup Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Postgres Backup Dashboard</h1>
    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <small>PG Backup Worker</small>
    </footer>
</body>

</html>